
* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

body {
  color: #0f172a;
  font-size: 14px;
  line-height: 1.6;
  color: #0f172a;
  background: white;
  height : 100%;
  margin : 0;
}

.main {
  margin-left: 260px;
  padding: 50px 50px;
  min-height: 100vh;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
  font-family: Roboto;
}

.main.collapsed {
  margin-left: 80px;
}

/* frontend/iot-frontend/src/index.css */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}